Repository infinispan/infinispan-simple-tutorials, pull requests merged in 2024-11, with the labels that each got.

#281 Enable stats in the test cache
  infinispan-remote/connect-to-infinispan-server/src/main/java/org/infinispan/tutorial/simple/connect/TutorialsConnectorHelper.java
Labels: Trivial :-)

#283 Fixes reactive api with the recent changes
  infinispan-remote/reactive-api/pom.xml
  infinispan-remote/reactive-api/src/main/java/org/infinispan/tutorial/simple/reactive/InfinispanReactiveApi.java
  infinispan-remote/reactive-api/src/test/java/org/infinispan/tutorial/simple/reactive/InfinispanReactiveApiTest.java
Labels: java

#274 Spatial queries tutorial Closes #263
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/ref_spatial_queries.adoc
  infinispan-remote/spatial-queries/pom.xml
  infinispan-remote/spatial-queries/src/main/java/org/infinispan/tutorial/simple/remote/spatial/Hiking.java
  infinispan-remote/spatial-queries/src/main/java/org/infinispan/tutorial/simple/remote/spatial/InfinispanSpatialQueries.java
  infinispan-remote/spatial-queries/src/main/java/org/infinispan/tutorial/simple/remote/spatial/Restaurant.java
  infinispan-remote/spatial-queries/src/main/java/org/infinispan/tutorial/simple/remote/spatial/TrainRoute.java
  infinispan-remote/spatial-queries/src/main/java/org/infinispan/tutorial/simple/remote/spatial/TutorialSchema.java
  infinispan-remote/spatial-queries/src/main/resources/indexedCache.xml
  infinispan-remote/spatial-queries/src/test/java/org/infinispan/tutorial/simple/remote/spatial/InfinispanSpatialQueriesTest.java
  pom.xml
Labels: new tutorial
